:root {
  --blackish: rgba(0, 0, 0, 0.858);
  --blackish-no-transp: #222222;
  --greyish: rgba(0, 0, 0, 0.26);
  --yellowish: #FCAE00;
  --dark-yellowish: #EDA400;
  // --very-light-grey: rgba(250,250,250, 1);
  --very-light-grey: #fffcf4;
  --blur: 12px;
  --text-hover: #0085D8;
  --gap: 1.3rem;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  min-height: calc(100vh - 75px);
  margin-top: 75px;
  width: 100%;
  zoom: 90%;
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    body {
      zoom: 80%;
    }
}

.working-area {
  min-height: 300vh;
  width: 100%;
  background-color: var(--very-light-grey);
  padding-bottom: 1.5rem;
}

main {
  background-color: var(--very-light-grey);
  width: 100%;
}

button {
 background: none;
 border: none;
 padding: 0;
 cursor: pointer;
}

button:focus, input:focus {outline:0;}

input {
  border: none;
}

.shadow {
  box-shadow:
  0 0 6px rgba(0, 0, 0, 0.25);
}


.white {
  background-color: white;
}