:root {
  --blackish: rgba(0, 0, 0, 0.858);
  --greyish: rgba(0, 0, 0, 0.6);
  --yellowish: #FCAE00;
  --dark-yellowish: #EDA400;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

button {
 background: none;
 border: none;
 padding: 0;
 cursor: pointer;
}

button:focus, input:focus {outline:0;}

input {
  border: none;
}