header {
  position: fixed;
  top: 0;
  left: 0;
  --underline-height: 7px;

  width: 100%;
  background-color: var(--blackish);
  backdrop-filter: blur(var(--blur));
  -webkit-backdrop-filter: blur(var(--blur));
  height: 75px;
  z-index: 2;

  .container {
    display: grid;
    grid-auto-flow: column;
    height: 100%;
    grid-template-columns: 40px 1fr 30px;
    max-width: 1456px;
    margin: auto auto;
    padding-left: var(--gap);
    padding-right: var(--gap);

    .logo-area {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .logo img {
      width: 25px;
    }

    .search-icon {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background: url(../assets/magnifier@2x.png) no-repeat;
      background-position: 100% 50%;
      background-size: 18px;
    }

    .search-icon:hover, .clicked {
      background: url(../assets/magnifier-hover@2x.png) no-repeat;
      background-position: 100% 50%;
      background-size: 18px;
    }
    
    .mobile-menu-icon {
      background: url(../assets/menue-white@2x.png) no-repeat;
      background-size: 30px;
      background-position: 0% 50%;
    }

    .mobile-menu-icon:hover, .menu-clicked {
      background: url(../assets/menue-yellow@2x.png) no-repeat;
      background-size: 30px;
      background-position: 0% 50%;
    }

    .menu-area {
      display: none;
    }

  }

  @media only screen and (min-width: 1000px) { 
    .container {
      grid-template-columns: 40px 1fr 30px;

      .mobile-menu-icon {
        display: none;
      }

      .logo-area {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      .menu-area {
        display: grid;
        grid-auto-flow: column;
        align-items: stretch;
        padding-left: 10px;
        padding-right: 10px;
        
        .last-menu-button p {
          border-right: none !important; 
        }
  
        button {
          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: flex-end;
          font-size: 16px;
          color: white;
  
          p {
            width: 100%;
            height: max-content;
            border-right: solid 1px white;
            align-self: end;
          }
  
          span {
            width: 100%;
            height: var(--underline-height);
            margin-top: 5px;
          }
        }
  
        button:hover, .selected {
          color: var(--yellowish);
  
          span {
            background-color: var(--yellowish);
          }
        }
      }
    }
  }
}

.search-bar-area {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: var(--greyish);
  backdrop-filter: blur(var(--blur));
  -webkit-backdrop-filter: blur(var(--blur));
  z-index: 1;

  form {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 35px 1fr 70px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    align-items: center;
    padding-left: var(--gap);
    padding-right: var(--gap);
    
    input, button {
      height: 35px;
      background-color: white;
      font-size: 16px;
    }
    
    .search-bar-search {
      background-color: var(--yellowish);
      border-radius: 50% 0 0 50%;
      grid-column: 1 / 2;
      grid-row: 1 / -1;
      z-index: 2;
    }
    
    .search-bar-icon {
      background: url(../assets/magnifier_black@2x.png) no-repeat ;
      background-position: 60% 50%;
      background-size: 16px;
      width: 100%;
      height: 100%;
    }
    
    input {
      padding-left: 47px;
      padding-right: 70px;
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      border-radius: 30px;
      box-shadow: 0 0 8px rgba($color: #000000, $alpha: .8);
      z-index: 1;
    }
    
    .search-bar-clear {
      border-radius: 0 35px 35px 0;
      grid-column: 3 / 4;
      grid-row: 1 / -1;
      z-index: 2;
      padding-right: 10px;
    }

  }
}

.mobile-menu-area {
  position: fixed;
  top: 125px;
  background-color: var(--blackish);
  backdrop-filter: blur(var(--blur));
  -webkit-backdrop-filter: blur(var(--blur));
  color: white;
  transform: translateY(-50px);
  height: calc(100% - 75px);
  // height: calc(var(--vh, 1vh) * 100 - 75px);
  width: 100%;
  z-index: 1;
  overflow: auto;
  scroll-behavior: smooth;

  button {
    border-top: solid 0.5px rgba(255, 255, 255, 0.2);
  }

  button:hover {
    color: var(--yellowish);
  }

  .selected {
    color: var(--yellowish);
  }
}

.hide-search {
  transform: translateY(-60px);
  opacity: 0;
  transition: all 0.3s;
}

.display-search {
  grid-template-columns: auto;
  opacity: 1;
  transition: all 0.3s;
}

.hide-mobile-menu {
  display: none;
  opacity: 0;
  transition: all 0.3s;
}

.display-mobile-menu {
  display: grid;
  grid-template-columns: auto;
  opacity: 1;
  transition: all 0.3s;
}