.home {

  p, h1, h2, h3, h4, h5 {
    margin: 0;
  }

  display: grid;
  grid-template-areas: 
  "top-news"
  "local-news"
  "categories"
  ;
  max-width: 1456px;
  margin: auto auto;
  padding-left: var(--gap);
  padding-right: var(--gap);
  padding-bottom: 2rem;

  .top-news>.section-header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: var(--gap);
    margin-top: 1.25rem;
    padding-bottom: 1rem;

    .title {
      font-weight: 500;
      color: var(--blackish-no-transp);
    }
    
    .line {
      height: 1px;
      background-color: var(--blackish-no-transp);
      
    }
    
    .sources {
      text-align: right;
      background-color: var(--yellowish);
      font-weight: 500;
      color: white;
      padding: 0.5rem;
    }
    
    .sources:hover {
      background-color: var(--dark-yellowish);
      box-shadow: 0 0 3px rgba($color: #000000, $alpha: .2);
    }

    .modal-outer {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      background-color: var(--greyish);
      z-index: 2;
      backdrop-filter: blur(var(--blur));
      -webkit-backdrop-filter: blur(var(--blur));
    }

    .source-menu-hidden {
      display: none;
    }

    .source-menu-shown {
      position: fixed;
      width: 400px;
      // height: calc(var(--vh, 1vh) * 70);
      height: calc(70%);
      top: 15vh;
      left: calc(50% - 200px);
      margin-left: auto;
      margin-right: auto;
      background-color: white;
      border-radius: 5px;
      z-index: 2;
      display: grid;
      grid-template-rows: 60px 1fr;
      overflow: hidden;

      .request {
        color: rgb(60, 60, 60);
        padding-left: 1rem;
        align-self: center;
      }

      .source-options {
        display: grid;
        grid-auto-rows: 50px;
        overflow: auto;
        scroll-behavior: smooth;

        .source-option {
          background-color: var(--blackish-no-transp);
          width: 100%;
          color: white;
          border-bottom: solid 0.5px var(--greyish);
        }

        .source-option:hover {
          background-color: var(--yellowish);
          color: var(--blackish-no-transp);
          font-weight: 500;
        }
      }
    }
  }

  .news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 410px 300px 250px;
    grid-gap: var(--gap);

    p {
      color: rgb(101, 101, 101);
      font-weight: 500;
    }

    .first {
      grid-column: span 2;
      overflow: hidden;
      display: grid;
      grid-template-areas: 
      "image"
      "title"
      "date"
      ;
      grid-template-rows: 65% 25% 1fr;
      border-radius: 3px;

      h3, p {
        padding: calc(var(--gap)/1.5);
        text-align: left;
      }

      .article-title {
        color: black;
        text-decoration: none;
        font-size: 1.2rem;
        line-height: 1.4rem;
        font-weight: 600;
      }

      .article-title:hover {
        color: var(--text-hover);
        text-decoration: underline;
      }

      .article-headline {
        display: none;
      }

      .article-date {
        line-height: 0.9rem;
        font-size: 0.75rem;
        padding-bottom: calc(var(--gap)/1);
      }

      .image-container {
        height: 100%;
        background: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        grid-area: image;
        align-self: center;
      }

    }

    .second {
      grid-column: span 2;
      display: grid;
      grid-gap: var(--gap);
      grid-auto-rows: 1fr;
      
      .second-box {
        overflow: hidden;
        display: grid;
        grid-template-columns: 60% 1fr;
        grid-template-areas: 
        "title image"
        "date image"
        ;
        border-radius: 3px;
        align-items: center;

        h3, p {
          padding-left: calc(var(--gap)/1.5);
          padding-right: calc(var(--gap)/1.5);
          text-align: left;
        }
  
        .article-title {
          color: black;
          text-decoration: none;
          font-size: 1rem;
          line-height: 1.1rem;
          font-weight: 600;
        }
  
        .article-title:hover {
          color: var(--text-hover);
          text-decoration: underline;
        }
  
        .article-headline {
          display: none;
        }
  
        .article-date {
          line-height: 0.9rem;
          font-size: 0.75rem;
        }
  
        .image-container {
          width: 100%;
          height: 100%;
          background: no-repeat;
          background-size: 101% 100%;
          background-position: center;
          grid-area: image;
          align-self: center;
        }
      }
    }

    .slider {
      display: grid;
      grid-gap: var(--gap);
      grid-template-columns: 24px 1fr 24px;
      grid-column: span 2;
      margin-top: -6px;

      .slider-left, .slider-right {
        margin-top: 6px;
        margin-bottom: 6px;
      }

      .slider-left {
        border-radius: 6px 0 0 6px;
        background: url(../assets/arrow-left@2x.png) no-repeat;
        background-size: 45%;
        background-position: center;
        margin-right: -6px;
      }
      
      .slider-right {
        border-radius: 0 6px 6px 0;
        background: url(../assets/arrow-right@2x.png) no-repeat;
        background-size: 45%;
        background-position: center;
        margin-left: -6px;
      }

      .slider-available {
        background-color: var(--blackish-no-transp);
      }

      .slider-available:hover {
        background-color: var(--yellowish);
      }
      
      .slider-unavailable {
        background-color: rgb(203, 203, 203);
        cursor: default;
      }

      .slides {
        display: grid;
        grid-auto-flow: column;
        overflow: hidden;
        position: relative;

        .slide {
          position: absolute;
          height: 100%;
          width: 100%;
          display: grid;
          padding: 6px;
          transition: all .25s;
          transform: translateX(-200%);

          .third {
            display: grid;
            grid-gap: var(--gap);
            grid-auto-columns: 1fr;
            grid-auto-flow: column;
            
            .third-box {
              overflow: hidden;
              display: grid;
              grid-template-rows: 53% 36% 1fr;
              grid-template-areas: 
              "image"
              "title"
              "date"
              ;
              border-radius: 3px;
      
              h3, p {
                padding-left: calc(var(--gap)/1.5);
                padding-right: calc(var(--gap)/1.5);
                text-align: left;
              }
        
              .article-title {
                color: black;
                text-decoration: none;
                font-size: 0.9rem;
                line-height: 1rem;
                font-weight: 600;
                overflow: hidden;
                align-self: center;
              }
        
              .article-title:hover {
                color: var(--text-hover);
                text-decoration: underline;
              }
        
              .article-date {
                line-height: 0.9rem;
                font-size: 0.75rem;
                padding-bottom: calc(var(--gap)/1.5);
              }
        
              .image-container {
                width: 100%;
                height: 100%;
                background: no-repeat;
                background-size: 101% 100%;
                background-position: center;
                grid-area: image;
                align-self: center;
              }
            }
          }
        }
      }
  
      .slide.next + .slide {
        transform: translateX(200%);
      }

      .slide.prev {
        transform: translateX(-100%);
      }

      .slide.current {
        transform: translateX(0);
      }

      .slide.next {
        transform: translateX(100%);
      }

    }
  }
}


.home>.local-news {
  width: 100%;
  grid-area: "local-news";

  .section-header {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto 1fr auto;
    align-items: center;
    grid-gap: var(--gap);
    margin-top: 2.5rem;
    padding-bottom: 1rem;

    .following-title {
      font-weight: 500;
      color: var(--blackish-no-transp);
    }

    .line {
      height: 1px;
      background-color: var(--blackish-no-transp);
    }

    .see-all {
      color: var(--blackish-no-transp);
      font-size: 18px;
      font-weight: 500;
    }

    .see-all:hover {
      text-decoration: underline;
    }

    .local-country {
      text-align: right;
      font-weight: 500;
      color: white;
      padding: 0.5rem;
      text-transform: uppercase;
      background-color: var(--yellowish);
    }

    .local-country:hover {
      background-color: var(--dark-yellowish);
      box-shadow: 0 0 3px rgba($color: #000000, $alpha: .2);
    }
  }

  .country-selector-area {
    display: grid;
    grid-template-rows: 40px 1fr;
    border-radius: 3px;
    
    .request-area {
      display: grid;
      grid-template-columns: 1fr 150px;
      height: 100%;
      align-items: center;

      .request {
        color: rgb(60, 60, 60);
        padding-left: 1rem;
        font-weight: 500;
        align-self: end;
      }

      .powered-google {
        display: none;
        background: url(../assets/powered-google@2x.png) no-repeat;
        background-position: center;
        background-size: 120px;
        height: 100%;
      }
    }

    #regions_div {
      display: none;
      align-items: center;
      justify-content: center;
    }

    .country-buttons-area {
      padding: 1rem;
      display: inline;
      text-align: center;

      .country-button {
        padding: 4px;
        font-size: 13px;
        margin: 4px;
        text-align: center;
        color: var(--text-hover);
        font-weight: 500;
      }

      .country-button:hover {
        text-decoration: underline;
      }
    }
  }
  
  .news {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(418.4px, 1fr));
    grid-template-rows: calc(300px / 2);
    grid-auto-rows: calc(300px / 2);

    .card {
      width: 100%;
      border-radius: 3px;

      .second-box {
        height: 100%;
        overflow: hidden;
        display: grid;
        grid-template-columns: 60% 1fr;
        grid-template-areas: 
        "title image"
        "date image"
        ;
        border-radius: 3px;
        align-items: center;

        h3, p {
          padding-left: calc(var(--gap)/1.5);
          padding-right: calc(var(--gap)/1.5);
        }
  
        .article-title {
          color: black;
          text-decoration: none;
          font-size: 1rem;
          line-height: 1.1rem;
          font-weight: 600;
        }
  
        .article-title:hover {
          color: var(--text-hover);
          text-decoration: underline;
        }
  
        .article-headline {
          display: none;
        }
  
        .article-date {
          line-height: 0.9rem;
          font-size: 0.75rem;
        }
  
        .image-container {
          width: 100%;
          height: 100%;
          background: no-repeat;
          background-size: 101% 100%;
          background-position: center;
          grid-area: image;
          align-self: center;
        }
      }
    }
  }
}

@media only screen and (min-width: 550px) {
  .home {
    .news {
      grid-template-rows: 450px 450px 350px;


      .first {
        grid-column: span 2;
        grid-template-areas: 
        "image"
        "title"
        "headline"
        "date"
        ;
        grid-template-rows: 1fr auto auto auto;

        .article-title {
          font-size: 1.75rem;
          line-height: 2rem;
          font-weight: 600;
        }

        .article-headline {
          display: block;
          line-height: 1.125rem;
          font-size: 0.875rem;
        }
        
        .article-date {
          line-height: 1rem;
          font-size: 0.875rem;
          padding-bottom: calc(var(--gap)/1);
        }
      }
      
      .second {
        grid-column: span 2;

        .second-box {
          grid-template-areas: 
          "title image"
          "headline image"
          "date image"
          ;
          grid-template-columns: 55% 1fr;

          .article-title {
            font-size: 1.2rem;
            line-height: 1.25rem;
            font-weight: 600;
          }

          .article-headline {
            display: block;
            line-height: 1.125rem;
            font-size: 0.875rem;
          }

          .article-date {
            line-height: 1rem;
            font-size: 0.875rem;
          }
        }
      }

      .slider {
        .slides {
  
          .slide {
  
            .third {
              
              .third-box {
                .article-title {
                  font-size: 1.2rem;
                  line-height: 1.25rem;
                  font-weight: 600;
                }

                .article-date {
                  line-height: 1rem;
                  font-size: 0.875rem;
                  padding-bottom: calc(var(--gap)/1.5);
                }
              }
            }
          }
        }
      }
    }
  }

  .home>.local-news {
    .news {
      grid-template-rows: calc(450px / 2);
      grid-auto-rows: calc(450px / 2);
      grid-template-columns: repeat(auto-fit, minmax(496.58px, 1fr));

      .card {

        .second-box {
          height: 100%;
          grid-template-areas: 
          "title image"
          "headline image"
          "date image"
          ;
          grid-template-columns: 55% 1fr;

          .article-title {
            font-size: 1.2rem;
            line-height: 1.25rem;
            font-weight: 600;
          }

          .article-headline {
            display: block;
            line-height: 1.125rem;
            font-size: 0.875rem;
          }

          .article-date {
            line-height: 1rem;
            font-size: 0.875rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 950px) {
  .home {
    .news {
      grid-template-rows: 570px 350px;

      .first {
        grid-column: span 1;
        grid-template-areas: 
        "image"
        "title"
        "headline"
        "date"
        ;
        grid-template-rows: 1fr auto auto auto;


        .article-title {
          font-size: 1.75rem;
          line-height: 2rem;
          font-weight: 600;
        }

        .article-headline {
          display: block;
          line-height: 1.125rem;
          font-size: 0.875rem;
        }
        
        .article-date {
          line-height: 1rem;
          font-size: 0.875rem;
          padding-bottom: calc(var(--gap)/1);
        }
      }
      
      .second {
        grid-column: span 1;

        .second-box {
          grid-template-areas: 
          "title image"
          "headline image"
          "date image"
          ;
          grid-template-columns: 47.5% 1fr;

          .article-title {
            font-size: 1.2rem;
            line-height: 1.25rem;
            font-weight: 600;
          }

          .article-headline {
            display: block;
            line-height: 1.125rem;
            font-size: 0.875rem;
          }

          .article-date {
            line-height: 1rem;
            font-size: 0.875rem;
          }
        }
      }

      .slider {
        .slides {
  
          .slide {
  
            .third {
              
              .third-box {
                .article-title {
                  font-size: 1.1rem;
                  line-height: 1.15rem;
                  font-weight: 600;
                }

                .article-date {
                  line-height: 1rem;
                  font-size: 0.875rem;
                  padding-bottom: calc(var(--gap)/1.5);
                }
              }
            }
          }
        }
      }
    }
  }

  .home>.local-news {
    .news {
      grid-template-rows: calc(570px / 2);
      grid-auto-rows: calc(570px / 2);
      grid-template-columns: repeat(auto-fit, minmax(496.58px, 1fr));

      .card {
        .second-box {
          height: 100%;
          grid-template-areas: 
          "title image"
          "headline image"
          "date image"
          ;
          grid-template-columns: 47.5% 1fr;

          .article-title {
            font-size: 1.2rem;
            line-height: 1.25rem;
            font-weight: 600;
          }

          .article-headline {
            display: block;
            line-height: 1.125rem;
            font-size: 0.875rem;
          }

          .article-date {
            line-height: 1rem;
            font-size: 0.875rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .home>.local-news {

    .country-selector-area {

      grid-template-rows: 60px 600px 1fr;
      grid-gap: .5rem;

      .request-area {
        .request {
          align-self: center;
        }

        .powered-google {
          display: block;
        }
      }


      #regions_div {
        display: grid;
      }
    }
  }
}